body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    width: 98vw;
    background-color: #f2f2f2;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-top: 76px;
}

table {
    width: 100%;
}

table , th, td, tr {
    padding: 4px;
    border: 1px solid #666666;
    border-collapse: collapse;
} 

th {
    background-color: #2da329;
    color: #ffffff;
}

tr {
    background-color: #e6e6e6;
}

tr:nth-child(even) {
    background-color: #b3b3b3;
}

tr:hover {
    background-color: #999999 ;
}

td:has(i) {
    text-align: center;
}

.button {
    border-width: 2px;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 7px;
    border-color: #999999;
    border-style: solid;
}

button:active {
    background-color: #a6a6a6;
}

button:hover {
    cursor: pointer;
}

/* a:active {
    color: #8f8f8f
}

a:hover {
    cursor: pointer;
}
 */

#adjust {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#p {
    display: flex;
    margin-top: 12px;
    gap: 12px;
}

.dp {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
}

a {
    text-decoration:solid;
    color: #cacaca;
}